.navbar-nav .nav-item .active{
    border-bottom: 2px solid #0B5ED7;
  }
  .navbar-toggler {
    background-color: #ffffff;
  }
  .nav-item .nav-link:visited,
  .nav-item .nav-link:link {
    border-bottom: 2px solid transparent;
  }
  
  .nav-item .nav-link:hover,
  .nav-item .nav-link:active {
    border-bottom: 2px solid #0B5ED7;
    color: #0B5ED7;
  }
  @media  (max-width: 990px) {
      .nav-item .nav-link:visited,
      .nav-item .nav-link:link {
      border-bottom: 2px solid transparent;
    }
  
    .nav-item .nav-link:hover,
    .nav-item .nav-link:active {
      border-bottom: 2px solid #0B5ED7;
      color: #0B5ED7;
      width: 80px;
    }
    .navbar-nav .nav-item .active{
      width: 60px;
      border-bottom: 2px solid #0B5ED7;
    }
  }
  